  <div class="row">
    <label for="attr" class="col-md-2 control-label">名称</label>
    <div class="col-md-2">
        <!-- 定义数据模型 ng-model -->
      <input type="text" class="form-control" ng-model="personName">
    </div>
    <div class="col-md-1">
        <!-- 通过 ng-click="search()"调用控制器中定义的方法。 -->
    	<button class="btn btn-primary" ng-click="search()">查询</button>
    </div>
  </div>
  
   <div class="row">
     <div class="col-md-4">
		  <ul class="list-group">
              <!-- 通过 {{person.name}}、{{person.age}}、{{person.address}}访问控制器的scope里定义的person模型，模型和视图是绑定的。 -->
		  	<li class="list-group-item">名字： {{person.name}}</li>
		  	<li class="list-group-item">年龄：  {{person.age}}</li>
		  	<li class="list-group-item">地址：  {{person.address}}</li>
		  </ul>
  </div>
  </div>
 
